* {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 51.625rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 1.3125rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  margin: 1rem 0;
}

h1 {
  text-align: center;
}

/* ######################################################### */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  /* width: 40%; */
  width: max-content;
  /* max-width: 1200px; */
  height: 4.375rem;
  border-radius: 1.3125rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* margin-top: 3rem; */
  padding: 0 1rem;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #767676;
  font-family: Arial, sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.nav-item a:hover {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-left: 6px;
}

/* ################################################# */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lightblue;
}

.title {
  background-color: cornflowerblue;
  padding: 1.5rem;
  border-bottom: 2px solid black;
  text-align: center;
}

.sacramento-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2.5rem;
}

.sacramento-btn {
  width: 250px;
  background-color: aliceblue;
  padding: 0.75rem;
  border: 3px solid black;
  border-radius: 1.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  text-decoration: none;
  white-space: pre;
  text-align: center;
}

/* ######################## */

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.container form input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
}

.container form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 29px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 3px solid #000;
  border-radius: 11px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #000;
}

table th {
  background-color: #f1f1f1;
  color: black;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

table button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-3 {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-3:hover {
  background-color: rgb(142, 49, 49);
}

.btn-1,
.btn-2 {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-1:hover,
.btn-2:hover {
  background-color: #4c77a5;
}

.box-form {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.box-form form {
  display: flex;
  flex-direction: column;
}

.box-form label {
  display: block;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.box-form input[type="text"],
.box-form input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

.box-form .sexo-inputs {
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;
}

.box-form .sexo-inputs label {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.box-form input[type="radio"] {
  display: inline-block;
  margin-right: 10px;
}

.box-form input[type="submit"] {
  align-self: flex-end;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

.box-form input[type="submit"]:hover {
  background-color: #0056b3;
}
