* {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 51.625rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 1.3125rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
}

.title-crud {
  margin: 1rem 0;
  text-align: center;
  padding-top: 2rem;
}

h1 {
  text-align: center;
}

/* ######################################################### */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: max-content;
  height: 4.375rem;
  border-radius: 1.3125rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #767676;
  font-family: Arial, sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.nav-item a:hover {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-left: 6px;
}

/* ################################################# */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lightblue;
}

.container-title {
  background-color: #6495ed;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container-title h1 {
  margin: 0;
}

.title {
  position: absolute;
}

.login-link {
  margin-left: auto;
  padding: 7px 16px;
  border-radius: 20px;
  border: white;
  cursor: pointer;
}

.login-link a {
  font-weight: 600;
}

.login-link:hover {
  background-color: #e1e1e1;
}

.login-link:active {
  background-color: #b7b7b7;
}

form.logout-form {
  margin-left: auto;
}

.sacramento-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2.5rem;
}

.sacramento-btn {
  width: 250px;
  background-color: aliceblue;
  padding: 0.75rem;
  border: 3px solid black;
  border-radius: 1.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  text-decoration: none;
  white-space: pre;
  text-align: center;
}

/* ######################## */

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin: 0 10%;
}

.table-container {
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  overflow-x: auto;
}

.container .btn-create {
  width: 14%;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  max-width: 11rem;
  max-height: 3rem;
}

.container .btn-create:hover {
  background-color: #0761c2;
}

.container .btn-create:active {
  background-color: #084688;
}

.container .btn-create a {
  color: white;
}

.container .table-container .btn-create {
  display: block;
  margin-top: 10px;
}

.container form input[type="text"],
.container form input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 29px;
}

.flex-h2-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  margin-bottom: -1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 3px solid #000;
  border-radius: 11px;
  overflow: hidden;
  width: auto;
  min-width: 100%;
  margin-top: 20px;
  table-layout: fixed;
}

table th,
table td {
  padding: 8px;
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table th {
  background-color: #f1f1f1;
  color: black;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.min-max-controls {
  display: flex;
  border: none;
  padding-top: 19px;
  gap: 12px;
}

/* Estilos botones*/
.btn-3 {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-3:hover {
  background-color: rgb(142, 49, 49);
}

.btn-4 {
  background-color: #a1a1a1;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 15px 50px;
  cursor: pointer;
}

.btn-4:hover {
  background-color: #888888;
}

.btn-4:active {
  background-color: #626262;
}

.btn-1,
.btn-2 {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-1:hover,
.btn-2:hover {
  background-color: #0761c2;
}

.btn-1:active,
.btn-2:active {
  background-color: #084688;
}

/* Crear modulos */
.helptext {
  display: none;
}

.errorlist {
  color: rgb(126, 23, 23);
}

.box-form {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
  margin-bottom: 4rem;
}

.box-form form {
  display: flex;
  flex-direction: column;
}

.box-form label,
fieldset,
.box-form input[type="text"],
.box-form input[type="date"],
.box-form input[type="number"],
.box-form input[type="radio"],
.box-form input[type="textarea"],
.box-form input[type="password"],
.box-form input[type="email"],
.box-form input[type="select"] {
  margin-bottom: 20px;
}

input#id_libro,
input#id_pagina,
input#id_partida {
  width: 5rem;
}

textarea#id_notas {
  width: 100%;
}

fieldset input[type="radio"] {
  margin-left: 1rem;
}

div label {
  display: flex;
}

.box-form input[type="text"],
.box-form input[type="date"],
.box-form input[type="number"],
.box-form input[type="password"],
.box-form input[type="email"],
.box-form input[type="select"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

select#id_permisos {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}

.box-form .sexo-inputs {
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;
}

.box-form .sexo-inputs label {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

div#id_sexo {
  padding-top: 20px;
}

.box-form input[type="radio"] {
  display: inline-block;
  margin-right: 10px;
}

.box-form input[type="submit"] {
  align-self: flex-end;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

.box-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.two-btn {
  display: flex;
  justify-content: space-around;
}

/* Login screen */

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  display: grid;
}

.form-table {
  width: 100%;
}

.form-table td {
  text-align: end;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-submit {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  margin-top: 1rem;
}

.form-submit:hover {
  background-color: #4c77a5;
}

.form-link {
  text-decoration: none;
  color: #1e90ff;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.form-link:hover {
  text-decoration: underline;
}

.form-table td {
  border: none;
}

.mini-box {
  max-width: 400px;
  margin: 5rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.mini-box h3 {
  margin-bottom: 1.5rem;
}

.mini-box p {
  margin-bottom: 15px;
}

.mini-box input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
}

.mini-box input[type="email"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-cambiar-pass {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  margin-top: 1rem;
  margin-left: 5rem;
}

.form-container p {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  padding-top: 20px;
}
