{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    {% block title %}
    <title>Página principal | SRS</title>
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li class="nav-item">
          <a href="{% url 'index' %}">Página principal</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'bautizos' %}">Bautizos</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'comuniones' %}">Comuniones</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'confirmaciones' %}">Confirmaciones</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'matrimonios' %}">Matrimonios</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'usuarios' %}">Usuarios</a>
        </li>
      </ul>

      {% if user.is_authenticated %}
      <p>Bienvenido {{ user }}</p>
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button>Cerrar sesión</button>
      </form>

      {% else %}
      <a href="{% url 'login' %}">Login</a>

      {% endif %}
    </nav>

    <h1 class="title">Sistema de Registro de Sacramentos</h1>

    {% block content %} {% endblock %}
  </body>
</html>
