{% extends "base_generic.html" %} {% block content %}
<h2 style="text-align: center; margin: 1rem">Sacramentos disponibles</h2>

<div class="sacramento-container">
  <a class="sacramento-btn" href="{% url 'bautizos' %}"
    >Bautizos {{bautizos_total}}</a
  >
  <a class="sacramento-btn" href="{% url 'comuniones' %}"
    >Comuniones {{comuniones_total}}</a
  >
  <a class="sacramento-btn" href="{% url 'confirmaciones' %}"
    >Confirmaciones {{confirmaciones_total}}</a
  >
  <a class="sacramento-btn" href="{% url 'matrimonios' %}"
    >Matrimonios {{matrimonios_total}}</a
  >
</div>

<h2 style="text-align: center; margin: 1rem">Administrar usuarios</h2>

<div class="sacramento-container">
  <a href="{% url 'usuarios' %}" class="sacramento-btn">Ir a Usuarios</a>
</div>
{% endblock %}
