{% extends "base_generic.html" %} {% block content %}

<h2>Sacramentos disponibles</h2>

<div class="sacramento-container">
  <a class="sacramento-btn" href="{% url 'bautizos' %}">Bautizos {{ bautizos_total }}</a>
  <a class="sacramento-btn" href="{% url 'comuniones' %}">Comuniones {{ comuniones_total }}</a>
  <a class="sacramento-btn" href="{% url 'confirmaciones' %}">Confirmaciones {{ confirmaciones_total }}</a>
  <a class="sacramento-btn" href="{% url 'matrimonios' %}">Matrimonios {{ matrimonios_total }}</a>
</div>

{% if perms.usuarios.admin %}
<h2>Permisos de administrador</h2>

<div class="sacramento-container">
  <a class="sacramento-btn" href="{% url 'usuarios' %}">Usuarios {{ usuarios_total }}</a>
</div>
{% endif %}

{% endblock %}
