{% extends "base_generic.html" %}

{% block content %}

<h1>Pagina de Usuarios</h1>

<h3>Tabla de usuarios</h3>

<a href="{% url 'crear_usuario' %}">Crear nuevo usuario</a>

<form action="{% url 'usuarios' %}" method="post">
  {% csrf_token %}

  <table>
    <thead>
      <th>Nombre</th>
      <th>Email</th>
      <th>Permisos</th>
      <th colspan="2">Controles</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ form.username }}</td>
        <td>{{ form.email }}</td>
        <td>{{ form.permisos }}</td>
        <td>
          <input type="submit" value="Filtrar campos" />
        </td>
        <td>
          <a href="{% url 'usuarios' %}">Limpiar campos</a>
        </td>
      </tr>

      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.permisos_name }}</td>
        <td><a href="{% url 'editar_usuario' user.id %}">EDITAR</a></td>
        <td><a href="{% url 'eliminar_usuario' user.id %}">ELIMINAR</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

{% endblock %}
