{% extends "base_generic.html" %} {% block content %}

<h1>Página de Comuniones</h1>

<h2>Tabla de comuniones</h2>

<a href="{% url 'crear_comunion' %}">Crear nueva comunión</a>

<form action="{% url 'comuniones' %}" method="POST">
  {% csrf_token %}

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Padre</th>
        <th>Madre</th>
        <th>Padrino/Madrina</th>
        <th>Ciudad de Bautizo</th>
        <th>Parroquia de Bautizo</th>
        <th>Fecha de Bautizo</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ form.nombre }}</td>
        <td>{{ form.sexo }}</td>
        <td>{{ form.padre }}</td>
        <td>{{ form.madre }}</td>
        <td>{{ form.padrino_madrina }}</td>
        <td>{{ form.ciudad_bautizo }}</td>
        <td>{{ form.parroquia_bautizo }}</td>
        <td>{{ form.fecha_bautizo }}</td>
        <td>
          <button>Filtrar campos</button>
        </td>
        <td>
          <a class="btn-1" href="{% url 'comuniones' %}">Limpiar campos</a>
        </td>
      </tr>

      {% for item in comuniones %}
      <tr>
        <td>{{ item.nombre }}</td>
        <td>{% if item.sexo %} Mujer {% else %} Hombre {% endif %}</td>
        <td>{{ item.padre }}</td>
        <td>{{ item.madre }}</td>
        <td>{{ item.padrino_madrina }}</td>
        <td>{{ item.ciudad_bautizo }}</td>
        <td>{{ item.parroquia_bautizo }}</td>
        <td>{{ item.fecha_bautizo }}</td>
        <td>
          <a class="btn-2" href="{% url 'editar_comunion' item.id %}">Editar</a>
        </td>
        <td>
          <a class="btn-3" href="{% url 'eliminar_comunion' item.id %}">Borrar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

{% endblock %}
