{% extends 'base_generic.html' %} {% block content %}
  {% block title %}
    <title>Página de Bautizo</title>
  {% endblock %}

  <h2 class="title-crud">Crear nuevo bautizo</h2>
  <div class="box-form">
    <form action="{% url 'crear_bautizo' %}" method="POST">
      {% csrf_token %} {{ form }}

      <div class="two-btn">
        <a class="btn-4" href="{% url 'bautizos' %}">Regresar</a>
        <button class="btn-1">Crear nuevo registro</button>
      </div>
    </form>
  </div>
{% endblock %}
