{% extends 'base_generic.html' %} {% block content %}
  {% block title %}
    <title>Página de Bautizo</title>
  {% endblock %}

  <h2 class="title-crud">Eliminar bautizo</h2>

  <div class="box-form">
    <form action="{% url 'eliminar_bautizo' id %}" method="POST" novalidate>
      {% csrf_token %} {{ form }}

      <div class="two-btn">
        <a class="btn-4" href="{% url 'bautizos' %}">Regresar</a>
        <button class="btn-1">Confirmar eliminación</button>
      </div>
    </form>
  </div>
{% endblock %}
